@model IEnumerable<TestTask_4A_MVC.Models.Book>
@{
    ViewData["Title"] = "Каталог товаров";
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Библиотека</title>
</head>
<body>
<h3>Книги</h3>
<a style="padding: 5px" href="~/Home/Add">Добавить книгу</a>
<a style="padding: 5px" href="~/Home/ClearDB">Очистить базу книг</a>
<a style="padding: 5px" href="~/Home/ExportToXML">Экспортировать базу в XML</a>

<table class="table-condensed">
    <tr>
        <td style="padding: 5px">Название</td>
        <td style="padding: 5px">Автор</td>
        <td style="padding: 5px">Цена</td>
        <td style="padding: 5px"></td>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td style="padding: 5px">@book.Title</td>
            <td style="padding: 5px">@book.Author</td>
            <td style="padding: 5px">@book.Price</td>
            <td style="padding: 5px"><a href="~/Home/Delete/@book.Id">Удалить книгу</a></td>
            <td style="padding: 5px"><a href="~/Home/Details/@book.Id">Информация о книге</a></td>
            <td style="padding: 5px"><a href="~/Home/Edit/@book.Id">Редактировать информацию</a></td>
        </tr>
    }
</table>
</body>
</html>